server:
  port: 8081

spring:
  application:
    name: weather-consumer-service
  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: admin
    listener:
      simple:
        acknowledge-mode: manual

rabbitmq:
  queue:
    request: weather.request.queue
    response: weather.response.queue
  exchange:
    weather: weather.exchange
  routing-key:
    response: weather.response

weather:
  delay: 1000
  api:
    key: 11730824f3a14ad834f54592dbbe2602
    url: https://api.openweathermap.org/data/2.5/weather
